<div class="col">
  <ul>
    <li>
      <a href="{% url 'league' 'Serie A' %}">Brazil Serie A</a>
    </li>
    <li>
      <a href="{% url 'league' 'Vysshaya Liga' %}">Belarus</a>
    </li>
    <li>
      <a href="{% url 'league' 'Super League' %}">China Super league</a>
    </li>
    <li>
      <a href="{% url 'league' 'Liga Profesional' %}"
        >Argentina lia-profesional</a
      >
    </li>
    <li>
      <a href="{% url 'league' 'MLS' %}">USA MLS</a>
    </li>
     </li>
    <li>
      <a href="{% url 'league' 'J1 League' %}">Japan J1</a>
    </li>
     </li>
    <li>
      <a href="{% url 'league' 'Eliteserien' %}">Norway eliteserien</a>
    </li>
     </li>
    <li>
      <a href="{% url 'league' 'Premier League' %}">Egypt premier-league</a>
    </li>
     </li>
    <li>
      <a href="{% url 'league' 'Allsvenskan' %}">Sweden allsvenskan</a>
    </li>
     </li>
    <li>
      <a href="{% url 'league' 'Obos Ligaen' %}">Norway obos-ligaen</a>
    </li>
     </li>
    <li>
      <a href="{% url 'league' 'Superettan' %}">Sweden superettan</a>
    </li>

  </ul>
</div>
