<div class="col">
  <ul>
    <li>
      <a href="{% url 'league' 'Serie A' %}">Brazil Serie A</a>
    </li>
    <li>
      <a href="{% url 'league' 'Vysshaya Liga' %}">Belarus</a>
    </li>
    <li>
      <a href="{% url 'league' 'super-league' %}">China Super league</a>
    </li>
    <li>
      <a href="{% url 'league' 'liga-profesional' %}"
        >Argentina lia-profesional</a
      >
    </li>
    <li>
      <a href="{% url 'league' 'mls' %}">USA MLS</a>
    </li>
     </li>
    <li>
      <a href="{% url 'league' 'j1-league' %}">Japan J1</a>
    </li>
     </li>
    <li>
      <a href="{% url 'league' 'eliteserien' %}">Norway eliteserien</a>
    </li>
     </li>
    <li>
      <a href="{% url 'league' 'premier-league' %}">Egypt premier-league</a>
    </li>
     </li>
    <li>
      <a href="{% url 'league' 'allsvenskan' %}">Sweden allsvenskan</a>
    </li>
     </li>
    <li>
      <a href="{% url 'league' 'obos-ligaen' %}">Norway obos-ligaen</a>
    </li>
     </li>
    <li>
      <a href="{% url 'league' 'superettan' %}">Sweden superettan</a>
    </li>

  </ul>
</div>
